.mainVisual {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.visual_design {
  text-align: left;
  font-family: "Noto Sans";
  font-size: 40px;
  line-height: 52px;
  font-weight: 500;
  margin-bottom: 44px;
}
.visual_block {
  /* height: fit-content; */
  display: flex;
  /* justify-content: start;
  align-items: flex-start; */
  flex-wrap: wrap;
  gap: 24px;
}
.visual_item {
  /* height: 400px;
  border-radius: 24px;
  transition: all 0.3s ease; */
  flex: 1 1 300px; /* растягивается, но не меньше 300px */
  max-width: calc(50% - 12px); /* чтобы в ряду было 2 элемента с учётом gap */
  height: auto;
  border-radius: 24px;
  transition: all 0.3s ease;
}
.visual_item img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}
.item_cyberpunk {
  max-width: 696px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.visual_item img {
  border-radius: 12px;
  border: none;
}
.item_behance {
  max-width: 420px;
  width: 100%;
  position: relative;
}
.behanceIcon {
  position: absolute;
  bottom: 12px;
  right: 12px;
}
@media screen and (max-width: 1200px) {
  .visual_block {
    justify-content: center;
  }
}
@media screen and (max-width: 800px) {
  .visual_block {
    align-items: end;
  }
  .visual_item,
  .item_behance,
  .item_cyberpunk {
    /* height: auto;
    width: auto; */
    max-width: 100%;
    flex: 1 1 100%;
  }
}
