.mainVisual {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.visual_design {
  text-align: left;
  font-family: "Noto Sans";
  font-size: 40px;
  line-height: 52px;
  font-weight: 500;
  margin-bottom: 44px;
}

.visual_block {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.visual_item,
.item_cyberpunk {
  flex: 1 1 400px;
  max-width: calc(50% - 12px);
  border-radius: 24px;
  transition: all 0.3s ease;
}

.visual_item img,
.item_cyberpunk img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  transition: transform 0.8s ease;
}
.visual_item {
  overflow: hidden;
}
.visual_item:hover img,
.item_cyberpunk:hover img {
  transform: scale(1.03);
}
.item_cyberpunk {
  max-width: 696px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.item_behance {
  max-width: 420px;
  width: 100%;
  position: relative;
}

.behanceIcon {
  position: absolute;
  bottom: 12px;
  right: 12px;
}

@media screen and (max-width: 1200px) {
  .visual_block {
    max-width: 420px;
    justify-content: center;
  }
}

@media screen and (max-width: 800px) {
  .visual_item,
  .item_behance,
  .item_cyberpunk {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
