.header {
  width: 100%;
  height: 94px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  position: relative;
  flex-wrap: wrap;
  margin-top: 30px;
  background: transparent;
}
.menu_cv {
  display: flex;
  justify-content: start;
  align-items: start;
  position: relative;
}
.header span:first-child {
  color: var(--color-neutral-80);
  font-size: 16px;
  font-family: "Noto Sans";
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}
.header span:last-child {
  color: var(--color-neutral-40);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  word-wrap: break-word;
  position: relative;
  top: -6px;
  margin-left: 4px;
}
.menuBlock {
  position: fixed;
  top: 30px;
  left: 50px;
  max-width: 172px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
  /* background: transparent; */
}
.cvBlock {
  /* max-width: 172px;
  width: 100%; */
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cvBlock__item {
  width: fit-content;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 8px;
}
.item_text {
  width: fit-content;
  font-size: 28px;
  line-height: 32px;
  color: var(--color-neutral-80);
  font-weight: 500;
}
.item_file {
  width: fit-content;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-neutral-40);
  font-weight: 400;
  /* margin-bottom: 8px; */
}
.cvBlock__item:hover .item_text {
  cursor: pointer;
  text-decoration: underline;
  color: var(--color-neutral-40);
}
.cvBlock__item:hover svg path {
  stroke: var(--color-neutral-40);
}

.socialBlock {
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.returning {
  display: flex;
  word-wrap: none;
  margin-top: 75px;
  cursor: pointer;
  color: var(--color-neutral-80);
  mix-blend-mode: difference; /*not working --------------*/
}

.returning:hover {
  cursor: pointer;
  text-decoration: underline;
  color: var(--color-neutral-40);
}
.returning:hover svg path {
  stroke: var(--color-neutral-40);
}
.header p:hover span:first-child {
  color: var(--color-neutral-40);
  cursor: pointer;
  text-decoration: underline;
}
.passiveLink:hover {
  color: var(--color-neutral-40);
  cursor: pointer;
  text-decoration: underline;
}
.activeLink {
  color: var(--color-blue);
  cursor: pointer;
}
/* Новые стили для тёмного фона */
.returningLight {
  color: #fff; /* Делаем текст белым */
}

.returningLight svg path {
  stroke: #fff; /* Делаем иконку белой */
}
@media screen and (max-width: 950px) {
  .item_text {
    /* font-size: 28px;
  line-height: 32px; */
    font-size: 20px;
    line-height: 24px;
  }
  .item_file {
    /* font-size: 16px;
  line-height: 24px; */
    font-size: 14px;
    line-height: 18px;
  }
  .cvBlock__item svg {
    width: 28px;
    height: 28px;
  }
}
@media screen and (max-width: 600px) {
  .menuBlock {
    left: 24px;
    top: 24px;
  }
  .header {
    width: fit-content;
    height: 125px;
    margin: 24px 0 0 0;
    flex-direction: column;
    align-items: start;
    padding: 0;
  }
}
@media screen and (max-width: 500px) {
  .header {
    margin: 24px 0 0 20px;
  }
  .header p {
    font-size: 13px;
  }
  .header span {
    font-size: 12px;
  }
}
