.avoDark {
  display: flex;
  gap: 24px;
  align-items: end;
  margin: 48px 0;
  /* padding: 0 50px; */
}
.avoDark h2 {
  margin-bottom: 24px;
}
.title {
  max-width: 700px;
  color: var(--color-neutral-80);
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  margin: 60px 0 44px;
}
.buttons {
  font-size: ;
}
@media screen and (max-width: 1300px) {
  .avoDark {
    flex-direction: column;
  }
}
