.avoDark {
  display: flex;
  gap: 24px;
  align-items: end;
  margin: 48px 0;
  /* padding: 0 50px; */
}
.avoDark h2 {
  margin-bottom: 24px;
}
.title {
  max-width: 700px;
  color: var(--color-neutral-80);
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  margin: 60px 0 44px;
}
.working {
  /* max-width: 1340px; */
  /* width: fit-content; */
  background-color: var(--color-bg);
  border-radius: 24px;
  padding: 40px;
  border: 1px solid var(--color-bg);
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 60px 50px;
}
.working__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: var(--primary-50);
}
.working__list {
  display: flex;
  gap: 32px;
  justify-content: center;
  flex-wrap: wrap;
}
.working__item__container {
  /* min-width: 195px;
  max-width: 226px; */
  flex: 1 1 220px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  /* justify-content: start; */
}
.working__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* text-align: center; */
  color: var(--color-neutral-80);
  margin-bottom: 16px;
}
.working__subtask {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: var(--color-neutral-80);
  background-color: var(--color-white);
  border-radius: 8px;
  border: 1px solid var(--color-white);
  padding: 10px;
}
.library {
  margin-top: 44px;
}
@media screen and (max-width: 1300px) {
  .avoDark {
    flex-direction: column;
  }
}
@media (max-width: 1024px) {
  .working {
    padding: 30px;
    margin: 40px auto;
  }
  .working__list {
    gap: 24px;
  }
}

/* телефоны */
@media (max-width: 768px) {
  .title {
    font-size: 28px;
    line-height: 36px;
  }
  .working {
    padding: 20px;
    margin: 30px 16px;
  }
  .working__item__container {
    flex: 1 1 100%;
    max-width: 100%;
  }
  .working__list {
    flex-direction: column;
    align-items: stretch;
  }
}
