:root {
  --color-neutral-80: #2b2d31;
  --color-neutral-60: #4e5052;
  --bg-middle: #ededed;
  --color-neutral-20: #f6f6f6;
  --color-neutral-40: #81878b;
  --primary-50: #6850b2;
  --color-black: #323232;
  --color-gray: #ededed;
  --color-blue: #0057ff;
  --color-white: #ffffff;
  --color-bg: #e1e1e1;
}
