.section-container {
  display: flex;
}

.section-title {
  color: var(--primary-50);
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  max-width: 380px;
  width: 100%;
}

.section-title--small {
  font-size: 20px;
  line-height: 28px;
}

.section-subtitle {
  color: var(--color-neutral-80);
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

.section-description {
  color: var(--color-neutral-60);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 16px;
}

.results {
  margin: 44px 0;
}

@media screen and (max-width: 1000px) {
  .section-title--small {
    font-size: 16px;
    line-height: 24px;
  }
  .section-subtitle {
    font-size: 16px;
    line-height: 24px;
  }
  .section-description {
    font-size: 14px;
    line-height: 20px;
  }
}

@media screen and (max-width: 750px) {
  .section-container {
    flex-direction: column;
    gap: 24px;
  }
}
