.btnNext,
.btnPrev {
  color: var(--neutral-80);
  font-size: 28px;
  line-height: 32px;
  font-weight: 500;
  /* margin: 60px 0 0 auto; */
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 16px;
}
.btnNext {
  margin: 0 0 0 auto;
}
.btnNext:hover,
.btnPrev:hover {
  cursor: pointer;
  text-decoration: underline;
  color: var(--color-neutral-40);
}
.divider {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 60px 0;
}
@media screen and (max-width: 1050px) {
  .btnNext,
  .btnPrev {
    font-size: 20px;
    line-height: 24px;
  }
}
@media screen and (max-width: 920px) {
  .divider {
    flex-direction: column;
    gap: 45px;
  }
}
