.container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  padding: 0 50px;
}
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  padding: 0 0 0 150px;
}
@media screen and (max-width: 500px) {
  .container {
    padding: 0 12px;
  }
  .wrapper {
    padding: 0 0 0 125px;
  }
}
